footer {
    background-color: #68676e;
    padding-top: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

#fooBut {
    text-align: center;
}

#logo {
    max-height: 2.8rem;
}

.top-bar-section ul li {
    margin-left: 0.5rem;
}

.top-bar-section ul {
    margin-right: 0.5rem;
}

.content {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.accordion {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    word-wrap: break-word;
}