#roomMap {
    min-width: 100%;
    height: 75vh;
}

#centralContent {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.switch {
    margin-bottom: 0rem;
}

#riepilogoBiglietti > .biglietto {
    margin-bottom: 1rem;
}

.biglietto > #posizione {
    margin-bottom: 1rem;
}

.price-tag {
    font-size: large;
}