#carteRegistrate {
    margin-bottom: 1rem;
}

td.details-control {
    background: url('../img/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../img/resources/details_close.png') no-repeat center center;
}